# This is a template .env file. To use it, save a copy without the '.template'
    extension

# PURPOSE:
# This file is so you can store your local information that shouldn't be shared
#   with others, such as API Keys, local database links, or the combination to
#   your locker.

FULL_CONTACT_API_KEY="your api key goes here"
