<!-- Banner for form and listing -->

<div class="page-header">
	<h1>Welcome to Your Digital Sign-In Sheet</h1>
</div>

<div class="row">

	<div class="col-md-5 col-sm-5 col-xs-9"  id="left_list">
		<h3>We'd like to display your:</h3>
		<ul>
			<li>Name</li>
			<li>Picture</li>
			<li>Why You're Here</li>
		</ul>
	</div>

	<div class="col-md-5 col-sm-5 col-xs-9" id="example_profile">
		<div class="well well-sm" style="margin-top: 20px;">
			<div class="media">

				<a class="pull-left">
					<img class="media-object dp img-circle" style="width:90px; height:90px" src="/images/superman_profile.jpg" >
				</a>

				<div class="media-body">
					<h3 class="media-heading" data-prop="name">Clark Kent</h3>
					<p>
						<label>I'm Here To:</label>
						<span>Do All The Things</span>
					</p>
				</div>
				
			</div>
		</div>
	</div>

</div>