<div class="container margin-t">
  <div data-scope="profile">
    <p data-prop="email">
      Email Goes Here
    </p>
    <p data-prop="objective">
      Objective Goes Here
    </p>
  </div>

  <div data-scope="profile" data-version="empty">
    <p>
      No one is here :(
    </p>
  </div>
</div>


<!-- <div class="container margin-t">
  <div data-scope="message">
    <p data-prop="body">
      Message Body Goes Here
    </p>
  </div>

  <div data-scope="message" data-version="empty">
    <p>
      No messages found :(
    </p>
  </div>
</div> -->
