<!DOCTYPE html>
<html>
<head>
  <title>
    Wall Me
  </title>

  <link rel="stylesheet" type="text/css" href="/pakyow-css/structure.css">
  <!-- <link rel="stylesheet" type="text/css" href="/pakyow-css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.6/css/bootstrap.min.css">

  <script src="/pakyow-js/pakyow.js"></script>

  <script src="/pakyow-js/components/fastlink.js"></script>
  <script src="/pakyow-js/components/mutable.js"></script>
  <script src="/pakyow-js/components/navigator.js"></script>
  <script src="/pakyow-js/components/notifier.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  <!-- <div class="container-1 margin-t"> -->
  <div class="container-fluid margin-t col-md-12 col-sm-12 col-xs-12">
    <!-- @container -->
  </div>
</body>
</html>
