<!DOCTYPE html>
<html>
<head>
  <title>
    Pakyow
  </title>

  <link rel="stylesheet" type="text/css" href="/pakyow-css/structure.css">
  <link rel="stylesheet" type="text/css" href="/pakyow-css/style.css">

  <script src="/pakyow-js/dependencies/underscore.js"></script>
  <script src="/pakyow-js/pakyow.js"></script>

  <script src="/pakyow-js/components/fastlink.js"></script>
  <script src="/pakyow-js/components/mutable.js"></script>
  <script src="/pakyow-js/components/navigator.js"></script>
  <script src="/pakyow-js/components/notifier.js"></script>
</head>

<body>
  <div class="container-1 margin-t">
    <!-- @container -->
  </div>
</body>
</html>
